* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #8F01FF, #3E0363);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bolhas {
    position: relative;
    display: flex;
}

.bolhas span {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white,
        0 0 50px white,
        0 0 100px white;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bolhas span:nth-child(even) {
    background-color: #7F6FC8;
    box-shadow: 0 0 0 10px #594DBB,
        0 0 50px #7F6FC8,
        0 0 100px #7F6FC8;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: top;
    background-size: cover;
    background-position: top;
    color: white;
    font-size: 300%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: bottom;
    margin: 5%;
}

.btn-center {
    background-color: black;
    transition: all 0.5s ease;
    font-size: 400%;
    margin: 5% auto;
    width: 20%;
    height: 5%;
    margin-top: 15%;
    padding: 2%;
    border: 1px solid #000000;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-center:hover {
    background: #594DBB;
}

.btn-center a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: black;
    transition: all 0.5s ease;
    font-size: 200%;
    margin: 1% auto;
    width: 15%;
    height: 5%;
    border: 1px solid #000000;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background: #594DBB;

}

.btn a {
    text-decoration: none;
    color: white;
}